.home-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.cards-container {
  display: flex;
  justify-content: space-between;
  padding-left: 0px;
  flex-wrap: wrap;
  width: 98%;
}
li {
  list-style-type: none;
}
.home-card-container {
  width: 100%;
  display: flex;
  justify-content:center;
  align-items: center;
  padding-top: 20px;
}
.home-image {
  border-radius: 15px;
}
.spinner-container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}